body {
  background: linear-gradient(60deg, rgb(192, 223, 221, .30), rgb(192, 223, 221, .30), rgb(192, 223, 221, .30));
  /* background-repeat: none; */
}

/* ----------------------------------- HEADER STYLING --------------------------------------------------- */
.App-header {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/* ----------------------------------- STYLING OF OCCASION PICS ------------------------------------------ */
.App .occasionHeader {
  padding-top: 15px;
  padding-bottom: 20px;
  font-family: cursive;
  font-size: 60px;
}

/* .App .ContainerOfImages .ImageContainer .OccasionImageContainer .OccasionCard .cardBody {
  border-color: black;
} */

/* .App .ContainerOfImages {
  background-color: #C0D9CF;
} */

.ImageContainer {
  display: inline-flex;
}

.App .ContainerOfImages .ImageContainer .OccasionImageContainer {
  margin-bottom: 125px;
}

.App .ContainerOfImages .ImageContainer .OccasionImageContainer .OccasionCard .cardBody {
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.App .ContainerOfImages .ImageContainer .OccasionImageContainer .OccasionCard {
  margin: 10px;
  display: inline-flex;
}

.App .ContainerOfImages .ImageContainer .OccasionImageContainer .OccasionCard .button {
  background-color: rgb(120, 199, 194);
  border: none;
  color: black;
  border-radius: 15px;
}

/* ----------------------------------- STYLING OF COLOR SCHEMES ----------------------------------------- */
.App .colorSchemeHeader {
  padding-bottom: 20px;
  padding-top: 15px;
  font-family: cursive;
  font-size: 60px;
}

.SchemeContainer {
  display: inline-flex;
}

.App .SchemeContainer .ColorSchemeContainer .ColorCard {
  margin: 10px;
  display: inline-flex;
}

.App .SchemeContainer .ColorSchemeContainer .ColorCard .cardBody {
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.App .guestNumber {
  padding: 30px;
  justify-content: center;
}

.App .SchemeContainer .ColorSchemeContainer .ColorCard .button {
  background-color: rgb(120, 199, 194);
  border: none;
  color: black;
  border-radius: 15px;
}

/* ----------------------------------- STYLING OF # OF GUESTS ------------------------------------- */
.App .guestNumber .guestNumberHeader {
  padding: 10px;
  font-family: cursive;
  font-size: 60px;
  margin-bottom: 15px;
  margin-top: 20px;
}

#dropdown-basic-button {
  background-color: rgb(120, 199, 194);
  border: none;
  color: black;
  border-radius: 15px;
}

/* ---------------------------------------------------------- STYLING OF FORM ---------------------------------------------------------- */

.App .formHeader {
  font-size: 20px;
  padding-left: 40px;
}

.App .FormContainer {
  padding-left: 40px;
  padding-right: 40px;
  /* width: 800px !important;  */
}

.App .form {
  background-color: rgba(222, 184, 135, .20);
  /* width: 1000px !important; */
  margin-top: 40px;
}

.App .FormContainer .button {
  background-color: rgb(120, 199, 194);
  border: none;
  color: black;
  border-radius: 15px;
}

/* -------------------------------------------------- STYLING OF API DOG BUTTON & PICS ----------------------------------------------------------*/

/* .button {
  margin: 20px;
  border-radius: 4px;
  border-color: rgb(202, 167, 173);
  background-color: rgb(202, 167, 173);
  color: rgb(75, 57, 57);
  font-size: 16px;
  font-family:Arial, Helvetica, sans-serif;
}

.dog img {
  max-width: 500px;
  max-height: 500px;
} */

