body {
  background: linear-gradient(60deg, white, rgb(224, 199, 204), white);
}

/* header styling */
.App-header {
  font-style: italic;
  font-size: xx-large;
}

/* styling of Occasion Pics */
.ImageContainer {
  border: 2px solid blue;
  /* below is keeping cards in container border */
  display: inline-flex;
}

.App .ImageContainer .OccasionImageContainer .OccasionCard {
  margin: 10px;
  /* border: 2px solid red;  */
  /* display: flex; */
  /* flex-basis: auto; */
  display: inline-flex;
}

/* styling of Color Schemes */
.SchemeContainer {
  border: 2px solid blue;
  display: inline-flex;
}

.App .SchemeContainer .ColorSchemeContainer .ColorCard {
  margin: 10px;
  /* border: 2px solid red;  */
  /* display: flex; */
  /* flex-basis: auto; */
  display: inline-flex;
}

/* styling of all buttons */
.button {
  margin: 20px;
  border-radius: 4px;
  border-color: rgb(202, 167, 173);
  background-color: rgb(202, 167, 173);
  color: rgb(75, 57, 57);
  font-size: 16px;
  font-family:Arial, Helvetica, sans-serif
}

/* styling of cute dog pics */
.dog img {
  max-width: 500px;
  max-height: 500px;
}

